<p>
  <b>Name:</b>
  <%=h @wasabbi_rank.name %>
</p>

<p>
  <b>Lbound:</b>
  <%=h @wasabbi_rank.lbound %>
</p>

<p>
  <b>Rbound:</b>
  <%=h @wasabbi_rank.rbound %>
</p>


<%= link_to 'Edit', edit_wasabbi_rank_path(@wasabbi_rank) %> |
<%= link_to 'Back', wasabbi_ranks_path %>
