<h1>Listing wasabbi_forums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Forum category</th>
  </tr>

<% for wasabbi_forum in @wasabbi_forums %>
  <tr>
    <td><%=h wasabbi_forum.name %></td>
    <td><%=h wasabbi_forum.description %></td>
    <td><%=h wasabbi_forum.parent_id %></td>
    <td><%=h wasabbi_forum.wasabbi_forum_category_id %></td>
    <td><%= link_to 'Show', wasabbi_forum %></td>
    <td><%= link_to 'Edit', edit_wasabbi_forum_path(wasabbi_forum) %></td>
    <td><%= link_to 'Destroy', wasabbi_forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wasabbi_forum', new_wasabbi_forum_path %>
