<% forum = @wasabbi_forum %>

<%= render :partial => "wasabbi_forums/crumbs",
  :locals => {:forum => @wasabbi_forum} %>

<p>
  <b>Description:</b>
  <%=h forum.description %>
</p>

<% if wasabbi_admin? forum %>
  <%= link_to "Create new forum under #{h forum.name}",
    new_wasabbi_forum_path(:wasabbi_forum => {
      :parent_id => forum.id
    }) %> <br/>
  <% if wasabbi_admin? %>
    <%= link_to "Create new top level forum",
      new_wasabbi_forum_path %> <br/>
  <% end %>

  <br/>
  <%= link_to 'Edit', edit_wasabbi_forum_path(forum) %> |
  <%= link_to 'Back', wasabbi_forums_path %> |
  <%= link_to "Destroy this forum (#{h forum.name})", forum,
    :confirm => 'Are you sure?', :method => :delete %><br/>
<% end %>

<% if forum.postable? %>
  <%= link_to 'New thread', new_wasabbi_thread_path(:wasabbi_thread => {:forum_id => forum.id}) %><br/>
<% end %>

<% forum.subcategories.each do |cat| %>
  <%= render :partial => "wasabbi_categories/show",
    :locals => {:category => cat} %>
<% end %>
<% forum.subforums.each do |f| %>
  <%= render :partial => "wasabbi_forums/show_forum",
    :locals => {:forum => f} %>
<% end %>

<% forum.page_of_threads(@page, session[:items_per_page]).each do |thread| %>
  <%= render :partial => "wasabbi_threads/show_thread_row",
    :locals => {:thread => thread} %>
<% end %>

<% if forum.postable? %>
  <%= link_to 'New thread', new_wasabbi_thread_path(:wasabbi_thread => {:forum_id => forum.id}) %><br/>
<% end %>