<p>
  <b>Name:</b>
  <%=h @wasabbi_forum.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @wasabbi_forum.description %>
</p>

<p>
  <b>Parent:</b>
  <%=h @wasabbi_forum.parent_id %>
</p>

<p>
  <b>Forum category:</b>
  <%=h @wasabbi_forum.wasabbi_forum_category_id %>
</p>


<%= link_to 'Edit', edit_wasabbi_forum_path(@wasabbi_forum) %> |
<%= link_to 'Back', wasabbi_forums_path %>
