<h1>Listing wasabbi_forum_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
  </tr>

<% for wasabbi_forum_category in @wasabbi_forum_categories %>
  <tr>
    <td><%=h wasabbi_forum_category.name %></td>
    <td><%=h wasabbi_forum_category.description %></td>
    <td><%=h wasabbi_forum_category.position %></td>
    <td><%= link_to 'Show', wasabbi_forum_category %></td>
    <td><%= link_to 'Edit', edit_wasabbi_forum_category_path(wasabbi_forum_category) %></td>
    <td><%= link_to 'Destroy', wasabbi_forum_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wasabbi_forum_category', new_wasabbi_forum_category_path %>
