<% form_for(thread) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :forum_id %>
  <p>
    <%= f.submit submit %>
  </p>
<% end %>
