<tr>
  <td>
    <%= link_to h(thread.subject), wasabbi_thread_path(thread) %>
  </td>

  <td>
    <%= h(thread.replies) %>
  </td>

  <td>
    <%= link_to h(thread.wasabbi_user.username), wasabbi_user_path(thread.wasabbi_user) %>
  </td>

  <td>
    <%= h(thread.views) %>
  </td>

  <td>
    <%= h(thread.bumped_at) %><br/>
    <%= link_to h(thread.last_post.wasabbi_user.username),
      wasabbi_user_path(thread.last_post.wasabbi_user.username) %>
  </td>
</tr>