<%= render :partial => "wasabbi_forums/crumbs",
  :locals => {:forum => @wasabbi_thread.forum} %>

<% content_for :forum_buttons do %>
  <div class="w_thread_buttons">
    <%= wasabbi_button("New Topic",
      new_wasabbi_thread_url(:wasabbi_thread => {
          :forum_id => @wasabbi_thread.forum.id
        })) -%>
    <%= wasabbi_button("Reply",
      new_wasabbi_post_url(:wasabbi_post => {:thread_id => @wasabbi_thread.id})) -%>
  </div>
<% end %>

<% page_control = proc do  %>
  <%= wasabbi_page_control @page_of_posts do |page|
    wasabbi_thread_path(@wasabbi_thread, :page => page)
  end -%>
<% end %>

<% page_control.call -%>

<%= yield :forum_buttons -%>

<% @page_of_posts.each do |post| %>
  <%= render :partial => "wasabbi_posts/show_one", :locals => {:post => post} %>
<% end %>

<%= yield :forum_buttons -%>

<% page_control.call -%>

<% if wasabbi_mod? @wasabbi_thread %>
  <div class="w_forum_admin_controls">
    <%= link_to 'Edit', edit_wasabbi_thread_path(@wasabbi_thread) -%>
  </div>
<% end %>