<h1>Listing wasabbi_forum_string_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Forum</th>
  </tr>

<% for wasabbi_forum_string_option in @wasabbi_forum_string_options %>
  <tr>
    <td><%=h wasabbi_forum_string_option.name %></td>
    <td><%=h wasabbi_forum_string_option.value %></td>
    <td><%=h wasabbi_forum_string_option.forum_id %></td>
    <td><%= link_to 'Show', wasabbi_forum_string_option %></td>
    <td><%= link_to 'Edit', edit_wasabbi_forum_string_option_path(wasabbi_forum_string_option) %></td>
    <td><%= link_to 'Destroy', wasabbi_forum_string_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wasabbi_forum_string_option', new_wasabbi_forum_string_option_path %>
