<p>
  <b>Name:</b>
  <%=h @wasabbi_forum_string_option.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @wasabbi_forum_string_option.value %>
</p>

<p>
  <b>Forum:</b>
  <%=h @wasabbi_forum_string_option.wasabbi_forum_id %>
</p>


<%= link_to 'Edit', edit_wasabbi_forum_string_option_path(@wasabbi_forum_string_option) %> |
<%= link_to 'Back', wasabbi_forum_string_options_path %>
