<h1>Editing wasabbi_group</h1>

<% form_for(@wasabbi_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @wasabbi_group %> |
<%= link_to 'Back', wasabbi_groups_path %>
