<h1>Listing wasabbi_groups</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for wasabbi_group in @wasabbi_groups %>
  <tr>
    <td><%=h wasabbi_group.name %></td>
    <td><%= link_to 'Show', wasabbi_group %></td>
    <td><%= link_to 'Edit', edit_wasabbi_group_path(wasabbi_group) %></td>
    <td><%= link_to 'Destroy', wasabbi_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wasabbi_group', new_wasabbi_group_path %>
