<h1>Editing wasabbi_modship</h1>

<% form_for(@wasabbi_modship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :wasabbi_user_id %><br />
    <%= f.text_field :wasabbi_user_id %>
  </p>
  <p>
    <%= f.label :is_super_mod %><br />
    <%= f.check_box :is_super_mod %>
  </p>
  <p>
    <%= f.label :forum_id %><br />
    <%= f.text_field :forum_id %>
  </p>
  <p>
    <%= f.label :is_subforum_mod %><br />
    <%= f.check_box :is_subforum_mod %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @wasabbi_modship %> |
<%= link_to 'Back', wasabbi_modships_path %>
