<% author = post.wasabbi_user
require 'bb-ruby' %>

<div class="w_post">
  <div class="w_post_author_g">
    <div class="w_post_author_res">
      <%= link_to h(author.username), wasabbi_user_path(author) -%>
    </div>

    <div class="w_post_author_data">
      <%= h(author.rank) -%>
    </div>
    <div class="w_post_author_data">
      Posts: <%= author.post_count -%>
    </div>
    <div class="w_post_author_data">
      Location: <%= h(author.location) -%>
    </div>
  </div><div class="w_post_content">
    <div class="w_post_content_header">
      Posted: <%= post.created_at -%>
      Post Subject: <%= h(post.subject) -%>

    </div>
    <div class="w_post_buttons">
      <%= wasabbi_button "Quote", new_wasabbi_post_url(:wasabbi_post => {:thread_id => post.thread_id},
        :quote => post.id)
      -%>
      <% if wasabbi_user && wasabbi_user.id == post.wasabbi_user.id %>
        <%=  wasabbi_button "Edit", edit_wasabbi_post_url(post) -%>

        <%= wasabbi_button "Delete", wasabbi_post_path(post),
          :confirm => 'Are you sure?', :method => :delete -%>
      <% end %>
    </div>


    <div class="w_post_body">
      <%= h(post.body).bbcode_to_html %>
    </div>

    <% if author.has_signature? %>
      <div class="w_post_sig">
        <%= h(author.signature) %>
      </div>
    <% end %>

  </div>


  <% if post.modified? %>
    <div class="w_post_modified">
      <% mod = post.modifications.last %>

      <% if post.total_modifications > 1 %>
        Last modified by <%= mod.wasabbi_user.username %> at <%= mod.last_modified_at %>,
        modified <%= post.total_modifications %> times total.
      <% else %>
        Modified by <%= mod.wasabbi_user.username %> at <%= mod.last_modified_at %>.
      <% end %>
    </div>
  <% end %>
  <div style="clear:both">
  </div>

</div>
<div style="clear:both">
</div>
