<h1>New wasabbi_post</h1>

<% if params[:commit] =~ /preview/i -%>
  Preveiw: 
  <%= render :partial => "wasabbi_posts/show_one",
    :locals => { :post => @wasabbi_post }
  -%>
<% end %>

<% form_for(@wasabbi_post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :thread_id %>
  <p>
    <%= f.submit "Submit" %>
    <%= f.submit "Preview" %>
  </p>
<% end %>

<%= link_to 'Back', wasabbi_thread_path(@wasabbi_post.thread_id) %>
